@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

header,
footer {
    z-index: 10;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

main {
    padding: 30px;
    text-align: center;
}

button {
    z-index: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: "Zen Dots", sans-serif;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

/* Тёмная тема */
.dark-mode {
    background-color: #111;
    background: #111;
    color: #eee;
}
.techno_font {
    font-family: "Space Grotesk", sans-serif;
    transition: font-size 0.3s ease;
}
.game_name {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 7%;
}
.game_name2 {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 3%;
}
.animate-btn {
    margin-bottom: 1%;
}
iframe {
    margin-top: 10px;
}
.jquery-dropdown {
    margin: 10px 0;
}

.jquery-btn {
    background: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 400px;
    text-align: left;
    font-family: "Zen Dots", sans-serif;
}

.jquery-content {
    overflow: hidden;
    display: none;
    padding: 0 10px;
    width: 65%;
    margin-left: 15%;
}
.jquery-btn3 {
    background: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 400px;
    text-align: left;
    font-family: "Zen Dots", sans-serif;
}

.jquery-content3 {
    overflow: hidden;
    display: none;
    padding: 0 10px;
    width: 65%;
    margin-left: 15%;
}
.jquery-btn2 {
    background: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 400px;
    text-align: left;
    font-family: "Zen Dots", sans-serif;
}

.jquery-content2 {
    overflow: hidden;
    display: none;
    padding: 0 10px;
}
.font2 {
    font-family: "Noto Sans", sans-serif;
}

a {
    color: cornflowerblue;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0073ff;
}
.button_font {
    font-family: "Zen Dots", sans-serif;
}
.jquery-btn4 {
    background: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 400px;
    text-align: left;
    font-family: "Zen Dots", sans-serif;
}

.jquery-content4 {
    overflow: hidden;
    display: none;
    padding: 0 10px;
    width: 65%;
    margin-left: 15%;
}

.logo {
    position: fixed;
    width: 246.6px; /* 8232px */
    height: 120.6px; /* 4030px */
    top: -20px;
    left: -20px;
    display: block;
    margin: auto;
    margin-top: 30px;
    filter: invert();
}

body {
    height: 1500px;
    background: url(https://www.brainpickings.org/wp-content/themes/brainpickings/images/bckgd_body.png);
}

.offset {
    margin-top: 0;
    padding-top: 270px;
    text-align: center;
    transition: 0.3s;
}

.GLaDOS {
    margin-top: -60px;
}

.header {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 230px;
    font-weight: bold;
    text-align: center;
    background: #333;
    transition: all 0.2s ease-out;
    &.small {
        height: 100px;
        box-shadow: 0 0 5px rgba(black, 0.2);
        & ~ .offset {
            padding-top: 140px;
        }
        .welcome-f {
            padding-top: 20px;
            text-shadow: none;
        }
    }
}

.ultra_mega_edinichka {
    opacity: 0%;
    padding-top: 200px;
}

.citata {
    margin-top: 10px;
    margin-bottom: 20px;
}

q {
    quotes: none;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

.welcome-f {
    z-index: 10;
    user-select: none;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding-top: 40px;
    transition: font-size 0.2s ease;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #0077b6 0%, #0096c7 29%, #00b4d8 67%, #48cae4 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

